# Mandatory
COUCHDB_URL=http://user:pass@host:port/vault-name

# Optional, default is to use docker volumes & port 8181
VAULT_USER=1000:1000
VAULT_BIND=./data/vault
QMD_CACHE_BIND=./data/qmd-cache
MCP_PORT=8181
